<div class="col-lg-6 col-md-10 col-10 p-4 mx-auto content-card">
  <h1>Login</h1>

  <div *ngIf="error" class="p-1 alert alert-danger">
    <p class="m-0">{{ error }}</p>
  </div>

  <form (ngSubmit)="onLogin()" [formGroup]="form">
    <div class="form-group">
      <label class="required" for="username">Gebruikersnaam</label>
      <input
        id="username"
        class="form-control"
        formControlName="username"
        type="text"
        required
        [class.invalid]="
          form.controls['username'].invalid && form.controls['username'].touched
        "
      />
      <div
        *ngIf="
          form.controls['username'].invalid && form.controls['username'].touched
        "
        class="validations"
      >
        <p *ngIf="form.controls['username'].hasError('required')">
          Gebruikersnaam is verplicht
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="required" for="password">Wachtwoord</label>
      <input
        id="password"
        class="form-control password-field"
        formControlName="password"
        type="password"
        [class.invalid]="
          form.controls['password'].invalid && form.controls['password'].touched
        "
        required
      />
      <div
        *ngIf="
          form.controls['password'].invalid && form.controls['password'].touched
        "
        class="validations"
      >
        <p *ngIf="form.controls['password'].hasError('required')">
          Wachtwoord is verplicht
        </p>
      </div>
    </div>

    <p>
      Nog geen account?
      <a class="link" routerLink="/register">Registreer hier</a>
    </p>

    <div class="form-group row">
      <div class="col-md-6 col-6">
        <button routerLink="/" class="btn btn-secondary w-100">
          Annuleren
        </button>
      </div>
      <div class="col-md-6 col-6">
        <button type="submit" class="btn btn-primary w-100">Inloggen</button>
      </div>
    </div>
  </form>
</div>
