<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-10 col-11 p-4 content-card position-absolute">
    <button
      *ngIf="isLoggedIn; else notLoggedIn"
      class="btn btn-primary home-button position-absolute"
      routerLink="/tournaments/create"
    >
      Start een een toernooi
    </button>
    <ng-template #notLoggedIn>
      <button
        class="btn btn-primary home-button position-absolute"
        routerLink="/games"
      >
        Spelletjes overzicht
      </button>
    </ng-template>
    <img src="../../../assets/images/start.png" class="home-image" />
  </div>
</div>
