<div class="modal fade" id="randomPickerModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">"Wiel" der Fortuinen</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div>
        <div class="carousel-container mb-20">
          <div class="needle"></div>
          <div class="carousel mb-10" [style.transform]="transform">
            <div
              class="card-picker"
              *ngFor="let item of displayedItems; let i = index"
              [ngClass]="{
                active: isFinalSelected(i),
                perk: displayMode === 'items' ? item.type === 'Perk' : false,
                weakness:
                  displayMode === 'items' ? item.type === 'Weakness' : false,
                game: displayMode === 'games' ? true : false
              }"
            >
              {{ displayMode === "items" ? item.name : item.title }}
            </div>
          </div>
          <button
            *ngIf="displayMode === 'items'"
            class="btn btn-primary picker-btn"
            (click)="spin()"
          >
            <i class="fas fa-skull"></i>
            Vergok je ziel
          </button>
          <button
            *ngIf="displayMode === 'games'"
            class="btn btn-primary picker-btn"
            (click)="spin()"
          >
            <i class="fas fa-skull"></i>
            Besluit het lot
          </button>
        </div>
        <div *ngIf="finalSelected" class="mt-20">
          <div class="align-center">
            <h4>
              <i
                *ngIf="displayMode === 'items'"
                class="fas fa-{{
                  finalSelected.type === 'Perk'
                    ? 'face-laugh-beam'
                    : 'skull-crossbones'
                }}"
              ></i>
              {{
                displayMode === "items"
                  ? finalSelected.name
                  : finalSelected.title
              }}
            </h4>
            <p *ngIf="displayMode === 'items'">
              {{ finalSelected.description }}
            </p>

            <p *ngIf="displayMode === 'games'">
              <i
                *ngIf="finalSelected.platform.toLowerCase().includes('xbox')"
                class="fab fa-xbox"
              ></i>
              <i
                *ngIf="
                  finalSelected.platform.toLowerCase().includes('playstation')
                "
                class="fab fa-playstation"
              ></i>
              <i
                *ngIf="finalSelected.platform.toLowerCase().includes('pc')"
                class="fab fa-windows"
              >
              </i>
              <i
                *ngIf="finalSelected.platform.toLowerCase().includes('mobiel')"
                class="fab fa-apple"
              ></i>
              {{ finalSelected.platform }}
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Sluiten
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
