<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Random Picker</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="carousel-container">
          <div class="needle"></div>
          <div class="carousel" [style.transform]="transform">
            <div
              class="card-picker"
              *ngFor="let item of displayedItems; let i = index"
              [ngClass]="{
                active: isFinalSelected(i),
                perk: item.type === 'Perk',
                weakness: item.type === 'Weakness'
              }"
            >
              {{ item.name }}
            </div>
          </div>
          <button class="btn btn-primary picker-btn" (click)="spin()">
            Spin
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
