<div class="modal fade" id="randomPickerModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">"Wiel" der Fortuinen</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div>
        <div class="carousel-container mb-20">
          <div class="needle"></div>
          <div class="carousel mb-10" [style.transform]="transform">
            <div
              class="card-picker"
              *ngFor="let item of displayedItems; let i = index"
              [ngClass]="{
                active: isFinalSelected(i),
                perk: item.type === 'Perk',
                weakness: item.type === 'Weakness'
              }"
            >
              {{ item.name }}
            </div>
          </div>
          <button class="btn btn-primary picker-btn" (click)="spin()">
            <i class="fas fa-skull"></i>
            Vergok je ziel
          </button>
        </div>
        <div *ngIf="finalSelected" class="mt-20">
          <div class="align-center">
            <h4>
              <i
                class="fas fa-{{
                  finalSelected.type === 'Perk'
                    ? 'face-laugh-beam'
                    : 'skull-crossbones'
                }}"
              ></i>
              {{ finalSelected.name }}
            </h4>
            <p>{{ finalSelected.description }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Sluiten
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
