<div class="col-md-9 p-4 mx-auto content-card">
  <app-spinner *ngIf="loading"></app-spinner>

  <div *ngIf="!loading">
    <div *ngIf="game; else noGame">
      <div class="row">
        <h1 class="col-md-10">{{ game.name }}</h1>
        <div class="col-md-2 edit-buttons">
          <button class="btn btn-danger">
            <i class="fa fa-trash-can"></i>
          </button>
          <button class="btn btn-primary">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <img [src]="game.imageUrl" class="col-md-3 game-image no-user-select" />
        <div class="col-md-8">
          <h3 class="card-title">{{ game.genre }}</h3>
          <p>
            <i
              *ngIf="game.platform.toLowerCase().includes('xbox')"
              class="fab fa-xbox"
            ></i>
            <i
              *ngIf="game.platform.toLowerCase().includes('playstation')"
              class="fab fa-playstation"
            ></i>
            <i
              *ngIf="game.platform.toLowerCase().includes('pc')"
              class="fab fa-windows"
            >
            </i>
            {{ game.platform }}
          </p>
          <h5>Regels:</h5>
          <p class="rules" *ngFor="let rule of game.rules">
            {{ rule.rule }} - {{ rule.playerAmount }}
            {{ rule.playerAmount == 1 ? "speler" : "spelers" }}
            ({{ rule.score }} {{ rule.score == 1 ? "punt" : "punten" }})
          </p>
        </div>
      </div>
      <button routerLink="/games" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i> Terug naar spelletjes
      </button>
    </div>
    <ng-template #noGame>
      <h1 class="align-center">Het spel is niet gevonden</h1>
      <button routerLink="/games" class="btn btn-primary center-button">
        Terug naar spelletjes
      </button></ng-template
    >
  </div>
</div>
