<div class="col-md-9 p-4 mx-auto content-card">
  <spinner *ngIf="loading"></spinner>

  <div *ngIf="!loading">
    <div *ngIf="game; else noGame">
      <div class="row">
        <h1 class="col-md-8">{{ game.name }}</h1>
        <div
          class="col-md-4 edit-buttons"
          *ngIf="userService.isAuthenticated()"
        >
          <div *ngIf="confirmDelete" class="d-flex d-flex-gap-10">
            <span>Zeker?</span>
            <button class="btn btn-secondary" (click)="confirmDelete = false">
              <i class="fa fa-xmark"></i>
            </button>
          </div>
          <button
            class="btn btn-danger"
            (click)="confirmDelete ? deleteGame() : (confirmDelete = true)"
          >
            <i class="fa fa-trash-can"></i>
          </button>
          <button
            class="btn btn-primary"
            [routerLink]="['/games/edit/', game._id]"
          >
            <i class="fa fa-pencil"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <img [src]="game.imageUrl" class="col-md-3 game-image no-user-select" />
        <div class="col-md-8">
          <h3 class="card-title">{{ game.genre }}</h3>
          <p>
            <i
              *ngIf="game.platform.toLowerCase().includes('xbox')"
              class="fab fa-xbox"
            ></i>
            <i
              *ngIf="game.platform.toLowerCase().includes('playstation')"
              class="fab fa-playstation"
            ></i>
            <i
              *ngIf="game.platform.toLowerCase().includes('pc')"
              class="fab fa-windows"
            >
            </i>
            {{ game.platform }}
          </p>
          <h4>Regels:</h4>
          <div class="rules mt-10" *ngFor="let rule of game.rules">
            <h5>{{ rule.type }} - {{ rule.rule }}</h5>
            <p>
              {{ rule.playerAmount }}
              {{ rule.playerAmount == 1 ? "speler" : "spelers" }}
            </p>
          </div>
        </div>
      </div>
      <button routerLink="/games" class="btn btn-primary mt-10">
        <i class="fa fa-arrow-left"></i> Terug naar spelletjes
      </button>
    </div>
    <ng-template #noGame>
      <h1 class="align-center">Het spel is niet gevonden</h1>
      <button routerLink="/games" class="btn btn-primary center-button mt-10">
        Terug naar spelletjes
      </button></ng-template
    >
  </div>
</div>
