<div class="p-4 col-md-10 col-10 mx-auto content-card">
  <div class="row">
    <h1 class="col-md-4 col-12 mb-10">Spelletjes</h1>
    <div class="col-md-8 col-12 edit-buttons mb-10">
      <select
        class="form-control"
        [(ngModel)]="platform"
        (change)="searchGames()"
      >
        <option value="">Allemaal</option>
        <option value="Xbox Series X">Xbox Series X</option>
        <option value="Xbox 360">Xbox 360</option>
        <option value="Xbox 360 Kinect">Xbox 360 Kinect</option>
        <option value="Playstation 4">Playstation 4</option>
        <option value="Playstation 4 VR">Playstation 4 VR</option>
        <option value="Playstation 2">Playstation 2</option>
        <option value="Playstation 1">Playstation 1</option>
        <option value="Nintendo Switch">Nintendo Switch</option>
        <option value="Gameboy">Gameboy</option>
        <option value="PC">PC</option>
      </select>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Zoek voor spelletjes"
        class="form-control"
        (keyup.enter)="searchGames()"
        (blur)="searchGames()"
      />
      <button
        *ngIf="userService.isAuthenticated()"
        class="btn btn-primary round-btn"
        routerLink="/games/create"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <spinner *ngIf="loading"></spinner>

    <div *ngIf="!loading">
      <div class="row mt-10">
        <div *ngFor="let game of games" class="col-lg-2 col-sm-4 col-12 mb-10">
          <div class="card h-100" routerLink="/games/{{ game._id }}">
            <div class="card-body">
              <div class="card-img-top">
                <img
                  [src]="game.imageUrl"
                  class="img-fluid d-block mx-auto game-image no-user-select"
                />
              </div>
              <h4 class="card-title align-center">
                <i
                  *ngIf="game.platform.toLowerCase().includes('xbox')"
                  class="fab fa-xbox"
                ></i>
                <i
                  *ngIf="game.platform.toLowerCase().includes('playstation')"
                  class="fab fa-playstation"
                ></i>
                <i
                  *ngIf="game.platform.toLowerCase().includes('pc')"
                  class="fab fa-windows"
                >
                </i>
                {{ game.name }}
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="games.length === 0" class="no-games-found">
        <p>Geen spellen gevonden</p>
      </div>
    </div>
  </div>
</div>
