<div class="col-md-10 col-10 p-4 mx-auto content-card">
  <spinner *ngIf="loading"></spinner>

  <div *ngIf="!loading">
    <div *ngIf="tournament; else noTournament">
      <div class="row">
        <h4 class="col-lg-9 col-md-6 col-12">
          <span class="mr-20">{{ tournament.title }}</span>
          <span class="mr-20" [class]="getBadgeClass(tournament.status)">{{
            tournament.status
          }}</span>
          <span *ngIf="tournament.totalWinner" class="badge bg-warning">
            Winnaar: {{ tournament.totalWinner.username }}
          </span>
        </h4>
        <div
          class="col-lg-3 col-md-6 col-12 edit-buttons"
          *ngIf="userService.isAuthenticated()"
        >
          <div
            *ngIf="confirmDelete && userService.isAdmin()"
            class="d-flex d-flex-gap-10"
          >
            <span>Zeker?</span>
            <button
              class="btn btn-secondary round-btn"
              (click)="confirmDelete = false"
            >
              <i class="fa fa-xmark"></i>
            </button>
          </div>
          <button
            *ngIf="userService.isAdmin()"
            class="btn btn-danger round-btn"
            (click)="
              confirmDelete ? deleteTournament() : (confirmDelete = true)
            "
          >
            <i class="fa fa-trash-can"></i>
          </button>

          <button
            *ngIf="tournament.status !== 'Afgerond'"
            type="button"
            class="btn btn-warning round-btn"
            (click)="displayMode = 'items'; playerAmount = 0"
            data-bs-toggle="modal"
            data-bs-target="#randomPickerModal"
          >
            <i class="fas fa-spinner"></i>
          </button>

          <button
            *ngIf="tournament.status === 'Aankomend'"
            class="btn btn-success round-btn"
            (click)="startTournament()"
          >
            <i class="fa fa-play"></i>
          </button>
          <button
            *ngIf="tournament.status === 'Actief'"
            class="btn btn-dark round-btn"
            (click)="endTournament()"
            [disabled]="!isAnyGameWinnerSelected()"
          >
            <i class="fa fa-flag-checkered"></i>
          </button>
        </div>
      </div>

      <h4>
        {{ tournament.date | date : "dd-MM-yyyy" }}
      </h4>

      <img
        *ngIf="tournament.image"
        [src]="tournament.image"
        class="tournament-banner no-user-select"
      />

      <h3>
        Spelers
        <ul [ngClass]="{ 'player-columns': tournament.users.length > 6 }">
          <li *ngFor="let user of tournament.users">
            {{ user.username }} - Punten: {{ getPointsForUser(user.username) }}
          </li>
        </ul>
      </h3>

      <hr />

      <div class="row mb-10">
        <h3 *ngIf="finishedGames > 0" class="col-md-7">
          Spelletjes ({{ finishedGames }}/{{ tournament.games.length }})
          ongeveer {{ getTotalPlayTime() }}
          lang
        </h3>
        <h3 *ngIf="finishedGames === 0" class="col-md-7">
          Spelletjes ({{ tournament.games.length }}) ongeveer
          {{ getTotalPlayTime() }}
          lang
        </h3>

        <div class="col-md-5 edit-buttons">
          <button
            *ngIf="
              userService.isAuthenticated() &&
              !editMode &&
              tournament.status != 'Afgerond'
            "
            class="btn btn-primary round-btn"
            (click)="changeEditMode()"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button
            *ngIf="
              userService.isAuthenticated() &&
              editMode &&
              tournament.status != 'Afgerond'
            "
            class="btn btn-secondary round-btn"
            (click)="changeEditMode()"
          >
            <i class="fa fa-xmark"></i>
          </button>
          <button
            class="btn btn-clear round-btn"
            [class.btn-warning]="tableView"
            (click)="tableView = true"
          >
            <i class="fa fa-table"></i>
          </button>
          <span>/</span>
          <button
            class="btn btn-clear round-btn"
            [class.btn-warning]="!tableView"
            (click)="tableView = false"
          >
            <i class="fa fa-ticket"></i>
          </button>
        </div>
      </div>

      <div *ngIf="tableView" class="table-responsive">
        <table class="table table-bordered table-striped mt-10">
          <thead>
            <tr>
              <th>#</th>
              <th>Spel</th>
              <th>Regel</th>
              <th>Score</th>
              <th *ngIf="tournament.status != 'Aankomend'">Winnaar</th>
              <th *ngIf="editMode && userService.isAdmin()">Acties</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of tournament.games; let i = index">
              <td>{{ i + 1 }}</td>
              <td *ngIf="game.game">
                <a
                  class="link"
                  [routerLink]="['/games/', game.game._id]"
                  target="_blank"
                >
                  {{ game.game.name }} - {{ game.game.platform }}
                </a>
              </td>
              <td *ngIf="!game.game">Verwijderd spel</td>
              <td>{{ game.rule }}</td>
              <td *ngIf="editMode">
                <input
                  type="number"
                  pattern="\d*"
                  class="form-control"
                  [(ngModel)]="selectedScores[game._id]"
                  (keyup.enter)="updateScore(game)"
                  (blur)="updateScore(game)"
                  min="1"
                  max="10"
                  (input)="validateScore(game._id)"
                />
              </td>
              <td *ngIf="!editMode">{{ game.score }}</td>
              <td
                *ngIf="
                  tournament.status === 'Actief' &&
                  userService.isAuthenticated()
                "
              >
                <select
                  [(ngModel)]="selectedWinnerIds[game._id]"
                  (change)="updateWinner(game)"
                  class="form-control"
                >
                  <option value="">Kies een winnaar</option>
                  <option
                    *ngFor="let user of tournament.users"
                    [value]="user._id"
                  >
                    {{ user.username }}
                  </option>
                </select>
              </td>
              <td
                *ngIf="
                  tournament.status === 'Afgerond' ||
                  !userService.isAuthenticated()
                "
              >
                {{
                  game.winner?.username ? game.winner?.username : "Geen winnaar"
                }}
              </td>
              <td *ngIf="editMode && userService.isAdmin()">
                <div class="edit-buttons-left">
                  <div
                    *ngIf="confirmDeleteGame[game.game._id]"
                    class="d-flex d-flex-gap-10"
                  >
                    <span>Zeker?</span>
                    <button
                      class="btn btn-secondary round-btn"
                      (click)="confirmDeleteGame[game.game._id] = false"
                    >
                      <i class="fa fa-xmark"></i>
                    </button>
                  </div>
                  <button
                    class="btn btn-danger round-btn"
                    (click)="
                      confirmDeleteGame[game.game._id]
                        ? deleteGame(game.game._id)
                        : (confirmDeleteGame[game.game._id] = true)
                    "
                    [disabled]="tournament.games.length === 1"
                  >
                    <i class="fa fa-trash-can"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="!tableView" class="card no-hover row">
        <div *ngIf="tournament.games[currentGameIndex] as currentGame">
          <div class="card-header row">
            <div *ngIf="!editMode" class="col-lg-8 col-md-6 col-12">
              <h3 *ngIf="currentGame.game; else noName">
                <img
                  [src]="currentGame.game.imageUrl"
                  class="tiny-image no-user-select"
                />
                <a
                  *ngIf="!editMode"
                  class="link"
                  [routerLink]="['/games/', currentGame.game._id]"
                  target="_blank"
                >
                  #{{ currentGameIndex + 1 }} - {{ currentGame.game.name }} -
                  <i
                    *ngIf="
                      currentGame.game.platform.toLowerCase().includes('xbox')
                    "
                    class="fab fa-xbox"
                  ></i>
                  <i
                    *ngIf="
                      currentGame.game.platform
                        .toLowerCase()
                        .includes('playstation')
                    "
                    class="fab fa-playstation"
                  ></i>
                  <i
                    *ngIf="
                      currentGame.game.platform.toLowerCase().includes('pc')
                    "
                    class="fab fa-windows"
                  >
                  </i>
                  <i
                    *ngIf="
                      currentGame.game.platform.toLowerCase().includes('mobiel')
                    "
                    class="fab fa-apple"
                  ></i>
                  <i
                    *ngIf="
                      currentGame.game.platform.toLowerCase().includes('irl')
                    "
                    class="fas fa-person-walking"
                  ></i>
                  {{ currentGame.game.platform }}
                </a>
              </h3>
              <ng-template #noName>
                <h3>Verwijderd spel</h3>
              </ng-template>
            </div>
            <div *ngIf="editMode" class="col-lg-8 col-md-6 col-12">
              <h5>{{ currentGame.game.name }}</h5>
              <select
                [(ngModel)]="selectedGames[currentGame.game._id]"
                class="form-control"
                (change)="
                  activateRulesDropdown(selectedGames[currentGame.game._id])
                "
              >
                <ng-container *ngFor="let platform of platforms">
                  <optgroup [label]="platform">
                    <option
                      *ngFor="let game of groupedGames[platform]"
                      [value]="game._id"
                    >
                      {{ game.name }}
                    </option>
                  </optgroup>
                </ng-container>
              </select>
            </div>

            <div
              *ngIf="editMode && userService.isAdmin()"
              class="col-lg-4 col-md-6 col-12 edit-buttons"
              [ngClass]="{ 'mt-10-responsive': editMode }"
            >
              <div
                *ngIf="confirmDeleteGame[currentGame.game._id]"
                class="d-flex d-flex-gap-10"
              >
                <span>Zeker?</span>
                <button
                  class="btn btn-secondary round-btn"
                  (click)="confirmDeleteGame[currentGame.game._id] = false"
                >
                  <i class="fa fa-xmark"></i>
                </button>
              </div>
              <button
                class="btn btn-danger round-btn"
                (click)="
                  confirmDeleteGame[currentGame.game._id]
                    ? deleteGame(currentGame.game._id)
                    : (confirmDeleteGame[currentGame.game._id] = true)
                "
                [disabled]="tournament.games.length === 1"
              >
                <i class="fa fa-trash-can"></i>
              </button>
            </div>
          </div>
          <div class="card-body row">
            <div class="col-lg-8 col-sm-8 col-12 mb-20">
              <div>
                <label>Regel: </label>
                <p>{{ currentGame.rule }}</p>
                <select
                  *ngIf="editMode && ruleDropdownActive"
                  [(ngModel)]="selectedRules[currentGame._id]"
                  (change)="updateTournamentGame(currentGame)"
                  class="form-control"
                >
                  <option
                    *ngFor="let rule of rules"
                    [value]="
                      rule.type +
                      ' / ' +
                      rule.rule +
                      ' - ' +
                      rule.playerAmount +
                      (rule.playerAmount > 1 ? ' spelers' : ' speler') +
                      ' per ' +
                      rule.time +
                      (rule.time > 1 ? ' minuten' : ' minuut')
                    "
                  >
                    {{
                      rule.type +
                        " / " +
                        rule.rule +
                        " - " +
                        rule.playerAmount +
                        (rule.playerAmount > 1 ? " spelers" : " speler") +
                        " per " +
                        rule.time +
                        (rule.time > 1 ? " minuten" : " minuut")
                    }}
                  </option>
                </select>
              </div>
              <div>
                <label>Score: </label>
                <div *ngIf="editMode">
                  <div class="col-md-2">
                    <input
                      type="number"
                      pattern="\d*"
                      class="form-control"
                      [(ngModel)]="selectedScores[currentGame._id]"
                      (keyup.enter)="updateScore(currentGame)"
                      (blur)="updateScore(currentGame)"
                      min="1"
                      max="10"
                      (input)="validateScore(currentGame._id)"
                    />
                  </div>
                </div>
                <p *ngIf="!editMode">
                  {{ currentGame.score }}
                </p>
              </div>
              <div>
                <label *ngIf="tournament.status !== 'Aankomend'"
                  >Winnaar:</label
                >
                <div
                  *ngIf="
                    tournament.status === 'Actief' &&
                    userService.isAuthenticated()
                  "
                >
                  <div class="col-md-4">
                    <select
                      [(ngModel)]="selectedWinnerIds[currentGame._id]"
                      (change)="updateWinner(currentGame)"
                      class="form-control"
                    >
                      <option value="">Kies een winnaar</option>
                      <option
                        *ngFor="let user of tournament.users"
                        [value]="user._id"
                      >
                        {{ user.username }}
                      </option>
                    </select>
                  </div>
                </div>
                <p
                  *ngIf="
                    tournament.status === 'Afgerond' ||
                    !userService.isAuthenticated()
                  "
                >
                  {{
                    currentGame.winner?.username
                      ? currentGame.winner?.username
                      : "Geen winnaar"
                  }}
                </p>
              </div>
            </div>
            <div
              *ngIf="
                currentGameIndex === initialGameIndex &&
                !currentGame.winner &&
                tournament.status === 'Actief'
              "
              class="col-lg-4 col-sm-4 col-12"
            >
              <label>Volgorde:</label>
              <ul
                *ngIf="
                  !gameOrder.length &&
                  !matchOrder.length &&
                  !dividedOrder.length
                "
              >
                <li>
                  <p>Geen volgorde</p>
                </li>
              </ul>
              <ul
                *ngIf="
                  gameOrder.length || matchOrder.length || dividedOrder.length
                "
              >
                <li *ngFor="let item of gameOrder; let i = index">
                  <p>{{ getPlayerById(gameOrder[i])?.username }}</p>
                </li>
                <li *ngFor="let match of matchOrder">
                  <p>
                    {{ getPlayerById(match.player1)?.username }} vs
                    {{ getPlayerById(match.player2)?.username }}
                  </p>
                </li>
                <li *ngFor="let match of dividedOrder; let i = index">
                  <p *ngIf="match.player2">
                    {{ getPlayerById(match.player1)?.username }} met
                    {{ getPlayerById(match.player2)?.username }}
                  </p>
                  <p *ngIf="!match.player2">
                    {{ getPlayerById(match.player1)?.username }}
                  </p>
                </li>
              </ul>
              <div>
                <label>Beslissingswedstrijd:</label>
              </div>
              <button
                type="button"
                class="btn btn-warning mr-10 mb-10"
                (click)="displayMode = 'games'; playerAmount = 2"
                data-bs-toggle="modal"
                data-bs-target="#randomPickerModal"
              >
                <i class="fas fa-user-group"></i>
                2 spelers
              </button>
              <button
                type="button"
                class="btn btn-warning mb-10"
                (click)="displayMode = 'games'; playerAmount = 3"
                data-bs-toggle="modal"
                data-bs-target="#randomPickerModal"
              >
                <i class="fas fa-users"></i>
                3 spelers
              </button>
            </div>
          </div>
          <div class="card-footer row">
            <div class="d-flex d-flex-gap-10">
              <button
                class="btn btn-primary round-btn"
                (click)="previousGame()"
                [disabled]="currentGameIndex <= 0"
              >
                <i class="fas fa-arrow-left-long"></i>
              </button>
              <button
                class="btn btn-primary round-btn"
                (click)="nextGame()"
                [disabled]="currentGameIndex >= tournament.games.length - 1"
              >
                <i class="fas fa-arrow-right-long"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button routerLink="/tournaments" class="btn btn-primary mt-10">
        <i class="fa fa-arrow-left"></i> Terug
      </button>
    </div>
    <ng-template #noTournament>
      <h1 class="align-center">Het toernooi is niet gevonden</h1>
      <button
        routerLink="/tournaments"
        class="btn btn-primary center-button mt-10"
      >
        Terug
      </button>
    </ng-template>
  </div>

  <random-picker
    [displayMode]="displayMode"
    [playerAmount]="playerAmount"
  ></random-picker>
</div>
