<div class="col-md-10 col-10 p-4 mx-auto content-card">
  <spinner *ngIf="loading"></spinner>

  <div *ngIf="!loading">
    <div *ngIf="tournament; else noTournament">
      <div class="row">
        <h4 class="col-lg-8 col-md-6 col-12">
          <span class="mr-20">{{ tournament.title }}</span
          ><span class="mr-20" [class]="getBadgeClass(tournament.status)">{{
            tournament.status
          }}</span>
          <span *ngIf="tournament.totalWinner" class="badge bg-warning">
            Winnaar: {{ tournament.totalWinner.username }}
          </span>
        </h4>
        <div
          class="col-lg-4 col-md-6 col-12 edit-buttons"
          *ngIf="userService.isAuthenticated()"
        >
          <div *ngIf="confirmDelete" class="d-flex d-flex-gap-10">
            <span>Zeker?</span>
            <button
              class="btn btn-secondary round-btn"
              (click)="confirmDelete = false"
            >
              <i class="fa fa-xmark"></i>
            </button>
          </div>
          <button
            class="btn btn-danger round-btn"
            (click)="
              confirmDelete ? deleteTournament() : (confirmDelete = true)
            "
          >
            <i class="fa fa-trash-can"></i>
          </button>

          <button
            *ngIf="
              tournament.status === 'Aankomend' ||
              tournament.status === 'Actief'
            "
            type="button"
            class="btn btn-primary round-btn"
            data-bs-toggle="modal"
            data-bs-target="#randomPickerModal"
          >
            <i class="fas fa-spinner"></i>
          </button>

          <button
            *ngIf="tournament.status === 'Aankomend'"
            class="btn btn-success round-btn"
            (click)="startTournament()"
          >
            <i class="fa fa-play"></i>
          </button>
          <button
            *ngIf="tournament.status === 'Actief'"
            class="btn btn-dark round-btn"
            (click)="endTournament()"
            [disabled]="!isAnyGameWinnerSelected()"
          >
            <i class="fa fa-flag-checkered"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>
            {{ tournament.date | date : "dd-MM-yyyy" }}
          </h4>
          <h3>
            Spelers
            <li *ngFor="let user of tournament.users">
              {{ user.username }} - Punten:
              {{ getPointsForUser(user.username) }}
            </li>
          </h3>
          <h3>Spelletjes</h3>
          <div class="table-responsive">
            <table class="table table-bordered table-striped mt-10">
              <thead>
                <tr>
                  <th>Spel</th>
                  <th>Regel</th>
                  <th>Score</th>
                  <th>Winnaar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let game of tournament.games">
                  <td>{{ game.game.name }}</td>
                  <td>{{ game.rule }}</td>
                  <td>{{ game.score }}</td>
                  <td
                    *ngIf="
                      tournament.status === 'Actief' &&
                      userService.isAuthenticated()
                    "
                  >
                    <select
                      [(ngModel)]="selectedWinnerIds[game._id]"
                      (change)="updateWinner(game)"
                      class="form-control"
                    >
                      <option value="">Kies een winnaar</option>
                      <option
                        *ngFor="let user of tournament.users"
                        [value]="user._id"
                      >
                        {{ user.username }}
                      </option>
                    </select>
                  </td>
                  <td
                    *ngIf="
                      tournament.status !== 'Actief' ||
                      !userService.isAuthenticated()
                    "
                  >
                    {{ game.winner?.username }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <button routerLink="/tournaments" class="btn btn-primary mt-10">
        <i class="fa fa-arrow-left"></i> Terug naar toernooien
      </button>
    </div>
    <ng-template #noTournament>
      <h1 class="align-center">Het toernooi is niet gevonden</h1>
      <button
        routerLink="/tournaments"
        class="btn btn-primary center-button mt-10"
      >
        Terug naar toernooien
      </button></ng-template
    >
  </div>
</div>

<random-picker></random-picker>
