<div class="col-md-10 col-10 p-4 mx-auto content-card">
  <div class="row">
    <h1 class="col-md-4 col-12 mb-10">Toernooien</h1>
    <div class="col-md-8 col-12 edit-buttons mb-10">
      <select
        class="form-control"
        [(ngModel)]="status"
        (change)="searchTournaments()"
      >
        <option value="">Allemaal</option>
        <option value="Aankomend">Aankomend</option>
        <option value="Actief">Actief</option>
        <option value="Afgerond">Afgerond</option>
      </select>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Zoek voor toernooien"
        class="form-control"
        (keyup.enter)="searchTournaments()"
        (blur)="searchTournaments()"
      />
      <button
        *ngIf="userService.isAuthenticated()"
        class="btn btn-primary round-btn"
        routerLink="/tournaments/create"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <spinner *ngIf="loading"></spinner>

    <div *ngIf="!loading">
      <div
        *ngFor="let tournament of tournaments"
        class="card"
        routerLink="/tournaments/{{ tournament._id }}"
      >
        <div class="card-body">
          <h4 class="card-title">
            <span class="mr-20">{{ tournament.title }}</span
            ><span class="mr-20" [class]="getBadgeClass(tournament.status)">{{
              tournament.status
            }}</span>
            <span *ngIf="tournament.totalWinner" class="badge bg-warning">
              Winnaar: {{ tournament.totalWinner.username }}
            </span>
          </h4>
          <p>
            {{ tournament.date | date : "dd-MM-yyyy" }}
            - Spelletjes: {{ tournament.games.length }}
          </p>
        </div>
      </div>
      <div *ngIf="tournaments.length === 0" class="no-games-found">
        <p>Geen toernooien gevonden</p>
      </div>
    </div>
  </div>
</div>
