@font-face {
  font-family: "Good Dog";
  src: url("./assets/fonts/GOODDP__.TTF") format("truetype");
}

/* Basics */
body {
  font-family: "Good Dog", sans-serif;
}

::selection {
  color: white;
  background: #8a4672;
}

.content {
  margin: 50px 100px 100px 100px;
  height: 1vh;
}

.bg-purple {
  background-color: #8a4672 !important;
}

.txt-purple {
  color: #8a4672 !important;
}

.txt-white {
  color: #fff !important;
}

/* Navbar */
.navbar {
  z-index: 2;
  user-select: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  margin-left: 10px;
  margin-right: 10px;
  width: 6%;
}

.logo:hover {
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navbar-toggler {
  margin-right: 10px;
}

.nav-link {
  margin-right: 10px;
  font-size: 30px;
  color: white !important;
  transition: 1s;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login a {
  position: absolute;
  right: 0px;
}

/* Login */
.password-field {
  font-family: "Arial, sans-serif";
}
