@font-face {
  font-family: "Good Dog";
  src: url("./assets/fonts/GOODDP__.TTF") format("truetype");
}

/* Basics */
:root {
  --accent: #8a4672;
  --accent2: #683556;
  --white: #fcfbfa;
  --gray: #a9a9a9;
  --gray2: #5c5c5c;
  --black: black;
  --background: #362734;
  --danger: red;
  --danger2: darkred;
}

body {
  background-color: var(--background);
  color: var(--black);
  font-family: "Good Dog", sans-serif;
}

::selection {
  color: var(--white);
  background: var(--accent);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.75em;
}

p,
label,
span,
.btn,
.form-control {
  font-size: 1.5em;
}

.required:after {
  content: " *";
  color: var(--danger);
}

.validations {
  color: var(--danger);
}

.form {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 3px 3px 10px var(--black);
}

.form-control {
  background-color: var(--white);
  border: var(--black) 1px solid;
}

.content {
  margin: 50px 100px 100px 100px;
  height: 1vh;
}

.bg-purple {
  background-color: var(--accent) !important;
}

.txt-purple {
  color: var(--accent) !important;
}

.txt-white {
  color: var(--white) !important;
}

/* Buttons */
.btn-primary {
  background-color: var(--accent);
  color: var(--white);
  width: 100%;
  border-radius: 20px;
  border: none;
  transition: 1s;
}

.btn-primary:hover {
  background-color: var(--accent2);
  color: var(--white);
  transform: scale(1.1);
  border-color: #c9bb50;
}

.btn-secondary {
  background-color: var(--gray);
  color: var(--white);
  width: 100%;
  border-radius: 20px;
  border: none;
  transition: 1s;
}

.btn-secondary:hover {
  background-color: var(--gray2);
  color: var(--white);
  transform: scale(1.1);
}

.link {
  color: var(--accent);
  text-decoration: none;
}

.link:hover {
  color: var(--accent2);
  text-decoration: underline;
}

/* Navbar */
.navbar {
  z-index: 2;
  user-select: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  margin-left: 10px;
  margin-right: 10px;
  width: 6%;
}

.logo:hover {
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navbar-toggler {
  margin-right: 10px;
}

.nav-link {
  margin-right: 10px;
  font-size: 2em;
  color: var(--white) !important;
  transition: 1s;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: var(--white);
  cursor: pointer;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login a {
  position: absolute;
  right: 0px;
}

/* Login */
.password-field {
  font-family: "Arial, sans-serif";
}
