@font-face {
  font-family: "Good Dog";
  src: url("./assets/fonts/GOODDP__.TTF") format("truetype");
}

/* Basics */
:root {
  --accent: #8a4672;
  --accent2: #683556;
  --accent3: #4f2b4b;
  --white: #fcfbfa;
  --gray: #a9a9a9;
  --gray2: #5c5c5c;
  --black: black;
  --black2: #494949;
  --background: #362734;
  --danger: red;
  --danger2: darkred;
  --success: green;
  --success2: rgb(14, 17, 14);
  --warning: orange;
  --warning2: yellow;
}

body {
  background-color: var(--background);
  color: var(--black);
  font-family: "Good Dog", sans-serif;
}

::selection {
  color: var(--white);
  background: var(--accent);
}

::-webkit-scrollbar {
  display: none;
}

.spinner {
  height: 50vh;
  align-items: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.75em;
}

td div p {
  font-size: 0.75em;
}

p,
label,
span,
th,
td,
.btn,
.form-control {
  font-size: 1.5em;
}

.d-flex-gap-5 {
  gap: 5px;
}

.d-flex-gap-10 {
  gap: 10px;
}

.required:after {
  content: " *";
  color: var(--danger);
}

.validations {
  color: var(--danger);
}

.content-card {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 3px 3px 10px var(--black);
}

.form-control {
  background-color: var(--white);
  border: var(--black) 2px solid;
  border-radius: 25px;
}

td .form-control {
  background-color: var(--white);
  border: var(--black) 2px solid;
  border-radius: 25px;
  font-size: 0.75em;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bg-purple {
  background-color: var(--accent) !important;
}

.txt-purple {
  color: var(--accent) !important;
}

.txt-white {
  color: var(--white) !important;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.center-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-button {
  display: block;
  margin-left: auto;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.align-left {
  text-align: left;
}

.no-user-select {
  user-select: none;
}

/* Buttons */
.btn-primary {
  width: fit-content;
  background-color: var(--accent);
  color: var(--white);
  border-radius: 25px;
  border: none;
  transition: 1s;
}

.btn-primary:hover {
  background-color: var(--accent2);
  color: var(--white);
  transform: scale(1.1);
  border-color: #c9bb50;
}

.btn-secondary {
  background-color: var(--gray);
  color: var(--white);
  border-radius: 25px;
  border: none;
  transition: 1s;
}

.btn-secondary:hover {
  background-color: var(--gray2);
  color: var(--white);
  transform: scale(1.1);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
  border-radius: 25px;
  border: none;
  transition: 1s;
}

.btn-danger:hover {
  background-color: var(--danger2);
  color: var(--white);
  transform: scale(1.1);
}

.btn-success {
  background-color: var(--success);
  color: var(--white);
  border-radius: 25px;
  border: none;
  transition: 1s;
}

.btn-success:hover {
  background-color: var(--success2);
  color: var(--white);
  transform: scale(1.1);
}

.btn-dark {
  background-color: var(--black);
  color: var(--white);
  border-radius: 25px;
  border: none;
  transition: 1s;
}

.btn-dark:hover {
  background-color: var(--black2);
  color: var(--white);
  transform: scale(1.1);
}

.edit-buttons {
  display: flex;
  gap: 10px;
}

@media (min-width: 900px) {
  .edit-buttons {
    justify-content: flex-end;
    align-items: center;
  }
}

.round-btn {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

td .round-btn {
  font-size: 0.75em;
  border-radius: 100%;
  width: auto;
  height: auto;
}

.link {
  color: var(--accent);
  text-decoration: none;
}

.link:hover {
  color: var(--accent2);
  text-decoration: underline;
}

td .link {
  color: var(--black);
}

td .link:hover {
  color: var(--black2);
}

/* Badges */
.badge {
  border-radius: 25px;
}

.badge-primary {
  background-color: var(--accent);
  color: var(--white);
}

.badge-secondary {
  background-color: var(--gray);
  color: var(--white);
}

.badge-danger {
  background-color: var(--danger);
  color: var(--white);
}

.badge-success {
  background-color: var(--success);
  color: var(--white);
}

/* Cards */
.card {
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 1px 3px 10px var(--black);
  margin-bottom: 20px;
  transition: 1s;
}

.card:hover {
  cursor: pointer;
  scale: 1.02;
}

.card.no-hover:hover {
  cursor: default;
  scale: 1;
}

/* Navbar */
.navbar {
  z-index: 2;
  user-select: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.logo {
  height: 100px;
}

.logo:hover {
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navbar-toggler {
  margin-right: 10px;
}

.nav-link {
  margin-right: 10px;
  font-size: 2em;
  color: var(--white) !important;
  transition: 1s;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: var(--white);
  cursor: pointer;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 900px) {
  .login a {
    position: absolute;
    right: 0px;
  }
}

/* Login */
.password-field {
  font-family: "Arial, sans-serif";
}

/* Home */
.home-image {
  margin: auto;
  display: block;
  width: 100%;
  border-radius: 25px;
  box-shadow: 3px 3px 10px var(--black);
}

.home-button {
  inset: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
}

/* Game */
.game-image {
  border-radius: 25px;
  margin-bottom: 10px;
}

.game-image-details {
  border-radius: 25px;
  margin-bottom: 10px;
  max-width: 100%;
  object-fit: cover;
}

.rules {
  padding: 5px;
  border-radius: 25px;
  border: 2px solid var(--black);
}

.preview-image {
  margin: auto;
  display: block;
  width: 65%;
  border-radius: 25px;
  box-shadow: 3px 3px 10px var(--black);
}

/* Random Picker */
.carousel-container {
  position: relative;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 4s cubic-bezier(0.1, 0.7, 0.1, 1);
  will-change: transform;
}

.card-picker {
  min-width: 100px;
  margin: 5px;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  width: fit-content !important;
  transition: transform 0.3s, background-color 0.3s;
}

.card-picker.active {
  background-color: var(--warning);
  scale: 1.1;
}

.picker-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.needle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--black);
  transform: translateX(-50%) rotate(180deg);
  z-index: 2;
}

.perk {
  background-color: var(--success);
  color: white;
}

.weakness {
  background-color: var(--danger);
  color: white;
}

/* Tournament */
.draggable-btn:hover,
.draggable:hover {
  cursor: move !important;
}
